body {
  color: #141414;
}

header, main, footer {
  width: 80%;
  margin: 0 auto;
}

sidebar {
  float: left;
  width: 20%;
}

section {
  float: left;
  width: 80%;
}

footer {
  text-align: center;
}




header > img {
  max-height: 100%;
  max-width: 100%;
}

.headerimage {
  height: 240px;
  background: url(../img/sheep.jpeg);
}